* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: linear-gradient(63.18deg, #42ffff 0%, #ff42ff 100%);
  min-height: 100vh;
}

header {
  font-size: 2rem;
  color: white;
}

header,
form {
  min-height: 20vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
form button,
form input {
  font-size: 1.5rem;
  padding: 0.5rem;
  border: none;
  background: white;
}

form button {
  background: #ff42ff;
  color: white;
  cursor: pointer;
  transition: all 0.3s ease;
}

form button:hover {
  background: #ffc93c;
  color: white;
}

form select {
  margin-left: 20px;
  font-size: 1.5rem;
  padding: 0.5rem;
  border: none;
}

/* TodoList function css*/
.todo-list {
  min-height: 60vh;
  display: flex;
  justify-content: center;
}

li {
  background: white;
  min-width: 50vh;
  list-style: none;
  font-size: 1.5rem;
  padding: 0.5rem;
}

li button {
  flex: 1;
  border: none;
  background: w;
  font-size: 2rem;
}

.todo {
  display: flex;
  margin-top: 10px;
}

.todo button {
  font-size: 1.5rem;
  padding: 0.5rem;
  border: none;
  cursor: pointer;
  transition: all 0.3s ease;
}

.completed {
  background: #ff42ff;
  color: white;
}

.deleted {
  background: #42ffff;
  color: white;
}

.todo button:hover {
  background: #ffc93c;
}
